.main {
    width: 1200px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    

    .popupBlock{
        position: absolute;
        top: 0px;
        z-index: 10;
        left: 25px;
    }

    .right {
        width: 55%;
    }

    .left{
        width: 45%;
    }

    .hero {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding-bottom: 80px;

        .items {
            color: black;
            font-size: 18px;
            text-transform: capitalize;
            background-color: burlywood;
            // padding: 0px 10px 10px 10px;
            width: 550px;
            min-height: 100px;
            border-radius: 10px;
            margin-bottom: 20px;   
            
            .window{
                background-color: rgb(48, 6, 6);
                position: relative;
                height: 35px;
                margin-bottom: 10px;
                .compare{
                    
                }
                .close, .minimize, .maximise{
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    cursor: pointer;
                }

                .minimize{
                    right: 50px;
                    top: 0;
                }

                .maximise{
                    right: 50px;
                    top: 5px;
                }
            }

        }

        .title {
            padding-right: 10px;
            padding-left: 10px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            .container:not(:first-child) {
                min-width: 70px;
                max-height: 40px;
            }

            .container {
                display: flex;
                align-items: center;
                margin-right: 35px;
            }
            .container:last-child {
                b{
                    width: 120px;
                }
            }

            .smalIcon {
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }

            .icon {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            b {
                color: #000;
                font-weight: bold;
                font-size: 18px;
                text-overflow: ellipsis;
            }

            .special {
                // height: 40px;
                max-height: 40px;
                font-size: 16px;
                width: 190px!important;    
                overflow: hidden;
            }

        }

        .skills, .active {
            // display: flex;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
            display: none;
            flex-wrap: wrap;

            .stats {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .skillIcon{
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                    margin-left: 5px;
                }

                .bar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(48, 6, 6);
                    height: 30px;
                    width: 200px;
                    border-radius: 10px;
                }

                .text {
                    font-size: 18px;
                }
            }
        }

        .active{
            display: flex;
        }
    }
}

