.navbar {
    background-color: rgba($color: #000000, $alpha: 0.3);
    padding: 15px;

    .container {
        width: 1200px;
        margin: 0 auto;
        display: flex;

        ul {
            display: flex;
            justify-content: space-between;
            width: 150px;
            .item {
                font-size: 22px;
                font-weight: 800;
                text-transform: capitalize;
                transition: all ease .4s    ;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }


    }
}