*{
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Joan', serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    list-style: none;
}
.main{
    height: 100vh;
    // background-color: brown;
    position: relative;
    overflow: hidden;

}